

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}



body {
  margin: 0;
}


main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}

pre {
  font-family: monospace, monospace; 
  font-size: 1em; 
}


a {
  background-color: transparent;
}


abbr[title] {
  border-bottom: none; 
  text-decoration: underline; 
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em; 
}

small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}

button,
input { 
  overflow: visible;
}

button,
select { 
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box;
  color: inherit; 
  display: table; 
  max-width: 100%; 
  padding: 0; 
  white-space: normal; 
}



progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}



[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}


[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}


details {
  display: block;
}


summary {
  display: list-item;
}

*
template {
  display: none;
}
*

[hidden] {
  display: none;
}

/*Global*/
  * {
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
    font-family: 'Dosis Regular', sans-serif;
    font-size: 16px;
    line-height: 26px;
    background-color: #ffffff;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
  }
  button {
    cursor: pointer;
  }


  header.masthead {
  
    background: no-repeat center center;
    background-color: gray;
    background-attachment: scroll;
    position: relative;
  
  }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: gray;
      opacity: 0.5;
    }
    .page-heading,
    .post-heading,
    .site-heading {
      padding: 200px 0 150px;
      color: white;
      @media only screen and (min-width: 768px) {
        padding: 200px 0;
      }
    }
    .page-heading,
    .site-heading {
      text-align: center;
    }
    .site-heading h1 {
        font-size: 50px;
        margin-top: 0;
      }
    
      @media only screen and (min-width: 768px) {
        h1 {
          font-size: 80px;
        }
      }
    
      
      @media only screen and (min-width: 768px) {
        h1 {
          font-size: 55px;
        }
        .subheading {
          font-size: 30px;
        }
      }
    
  
  
  

/*Container*/
  .main-container {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .inside-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
  @media (max-width: 992px) { 
      h2{
          font-size: 35px!important;
          line-height: 50px!important;
      }
      p {
        width: 100%!important;
      }
  }
  *
    .banner {
      width: 100%;
      min-height: 1000px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
      padding: 0;
      opacity: .9;
    }
    
    .logo img {
      margin: 120px 0 70px 0;
        
    }
    .logo img {
      display: flex;
      margin-left: auto;
      margin-right: auto;
     
    }
    .banner-content img {
      overflow: hidden;
      min-height: 670px;
      filter: blur(5px);
      height: auto;
    }
    .content {
      padding-left: 55px;
    }
    .content h1 {
      font-family: Dosis-bold;
      font-size: 61px;
      line-height: 26px;  
      color: #fff;
      margin-bottom: 50px;
    }
    .content h2 {
      font-size: 33px;
      line-height: 26px;
      color: #fff;
      margin-bottom: 25px;
    }
    .content p {
      width: 55%;
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      margin-bottom: 90px;
    }
    .butns .get-btn  {
      font-family: Dosis-bold;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
      background-color: #53c5d5;
      border-radius: 50px; 
      border: 2px solid #53c5d5;
      padding: 10px 49px;
      margin-right: 20px;
      margin-bottom: 30px;
    }    
    .butns .learn-btn {
      font-family: Dosis-bold;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
      background-color: transparent;
      border-radius: 50px; 
      border: 2px solid #ffffff;
      padding: 10px 45px;
      margin-bottom: 30px;
    }
    /*Nav*/
    .nav-bkg-color {
      -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.07);
      -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.07);
      box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.07);
      z-index:999; 
    }
    .nav-contain nav {
      padding: 28px 15px;
    }
    .nav-list .menu {
      color: #333333;
      font-family: Dosis Regular;
      font-size: 18px;
      line-height: 26px;
      padding: 0 20px;
      text-decoration: none;        
    }
    .nav-list .menu:hover {
        color: #53c5d5;
        cursor: pointer;
    }
    .nav-list .menu-last {
      color: #333333;
      font-family: Dosis Regular;
      font-size: 18px;
      line-height: 26px;
      padding-left: 10px;
      text-decoration: none; 
    }   
    .nav-list .menu-last:hover {
      color: #53c5d5;
      cursor: pointer;
    }
    .fixed-top {
      background-color: #fff;
      z-index: 999;
    }
    @media (max-width: 576px) {
        .content {
            text-align: center;
        }
        .butns {
            text-align: center;
        }
        .butns .get-btn {
            margin-right:0px!important;
        }
    }   
    @media (max-width: 992px) {
        /*Banner*/
        .content {
            padding-left: 40px;
            padding-right: 40px;
        }
        .content p {
            width: 100%;
        } 
        .banner-content img {
            min-height: auto;
        }
        /*Navbar*/
        .nav-list .menu, .menu-last {
            text-align: center;
            padding: 10px 10px;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {        
        .nav-list .menu {
            padding: 0 10px!important;
        }

     }
    /*Welcome*/
    .welcome-content {
        padding-top: 160px;
        padding-bottom: 80px;
        display: block;
        text-align: center;
    }
    .welcome-content h2{
        font-family: Dosis-Bold;
        font-size: 44px;
        line-height: 26px;        
    }
    .welcome-content hr {
        background-color: #7F6FEA;
        width: 117px;
        margin-top: 22px;
    }
    .welcome-content p {
        width: 50%;
        font-size: 22px;
        line-height: 35px;
        margin: auto;
    }
    .welcome-colum {
        padding-bottom: 150px;
    }
    .welcome-colum h3 {
        font-family: Dosis-bold;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 25px;
    }
    .welcome-colum p {
        width: 93%;
        font-size: 16px;
        line-height: 26px;
    }
    .icon-img {
        text-align: center;        
    }
    .welcome-colum .icon-img i {
        color: #7F6FEA;
        font-size: 35px;
        border: 2px solid  #7F6FEA;
        border-radius: 50%;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .welcome-colum .star-hover:hover {
        cursor: pointer;
    }
    .welcome-colum .star-hover:hover i{
        background-color:  #7F6FEA;
        color:#fff;
        border-color:  #7F6FEA;
        cursor: pointer;
    }
    .welcome-colum .icon-img .fa-star-of-life {
        padding: 16px 18px;
    }
    .welcome-colum .icon-img .fa-sitemap {
        padding: 17px 13px;
        font-size:34px;
    }
    .welcome-colum .icon-img .fa-lightbulb {
        padding: 16px 22px;
    }
		/*Features*/
    .features-sec {
    	  background-color: #ecf0f1; 
    }
    .features-row {
    	  padding-top: 160px;
    }
    .detail-features h2{
    		font-family: Dosis-bold;
    		font-size: 44px;
    		line-height: 26px;
    }
    .detail-features hr {
    	max-width: 117px;
    	background-color: #29A7E6;
    	height: 2px;
    	margin: 25px 0px 30px 0px;
    }
    .detail-features p {
    	width: 77%;
    	font-family: Dosis Regular;
    	font-size: 22px;
    	line-height: 35px;

    }
    .features-cols {
		  margin-top: 55px;
    }
    .features-cols .services {
    	margin: 35px 0px;
    }
  	.services p {
  		width: 93%;
  	}
  	.phone-col {
  		margin-top: 90px;
  		margin-bottom:-3px;
  		text-align: center;
  	}
    .services .icon-img img {
        max-width: 50px;
        height: auto;
    }
    .services .icon-img .fas {
        font-size:50px;
        line-height:26px;
        margin-top: 12px;
        color: #29A7E6;
    }
  	/*Download*/
  	.downl-sec {
  		background-image: url(../image/bckg-download.jpg);
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-position: center;
  		padding: 160px 0px 130px 0px;
  		color: #6FE9EA;
  	}
  	.detail-down h2 {
  		font-family: Dosis-bold;
  		font-size: 44px;
  		line-height: 26px;
  		text-align: center;
  	}
  	.detail-down hr {
  		max-width: 117px;
  		background-color: #6FE9EA;
  		height: 2px;
  		margin: 27px auto;
  	}
  	.detail-down p {
  		font-family: Dosis Regular;
  		font-size: 22px;
  		line-height: 35px;
  		text-align: center;
  		width: 49%;
      margin: auto;
  	}
  	.mobiles-down {
  		margin-top: 130px;
  	}
  	.mobiles-down a {
  		display: flex;
  		margin: 0 auto;
  		color: #fff;
  		border: 2px solid #fff;
  		background-color: transparent;			
  		padding: 7px 27px 14px 23px;	
  		min-width: 320px;
  		align-items: center;
      margin-bottom: 30px;
      text-decoration: none;
      height: 92px;
      max-width: 322px;
      max-height: 92px;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  	}
    .mobiles-down a:hover {
      background-color: #53c5d5;
    }
  	.mobiles-down a  p {
  		margin:0;
  		
  	}
  	.mobiles-down .apple-store {
  		background-color: transparent;
      margin-bottom: 30px;
      text-align: center;
  	}
    .mobiles-down .apple-store .fa-mobile-alt {
        font-size: 67px;
    }
    .mobiles-down .apple-store p {
      margin-left: auto;
    }
  	.mobiles-down .apple p {		
  		padding: 0 0 0 63px;	 
  	}
  	.mobiles-down .google-store p{    
      font-family: Arial, Bold;
  		text-align: left;
  		line-height: 32px;
  		padding: 0 0 0 30px;
      vertical-align: middle;
      line-height: inherit;
  	}
    .mobiles-down .windows-store  {
      max-width: 362px;
      max-height: 92px;
    }
  	.mobiles-down .windows-store p {
  		text-align: left;
  		padding: 0 0 0 30px;
  	}
    @media (max-width: 992px) {
      .windows-store .win-phon {
          font-size: 26px!important;
      }
      .mobiles-down .windows-store  {
      max-width: 322px;
    }
    }
  	
  	
  	/*Screenshot*/
  	.screenshot {
    		padding: 160px 0;
    		background-color: #ecf0f1;
   	}
   	.screen-detail {
   		  text-align: center;
   	}
   	.screen-detail h2 {
     		font-family: Dosis-bold;
     		font-size: 44px;
     		line-height: 26px;

   	}
   	.screen-detail hr {
     		width: 117px;
     		height: 2px;
     		background-color: #53c5d5;
     		margin: 27px auto;
   	}
    .screen-detail p{
        font-size: 22px;
        line-height: 35px;
        width: 50%;
        margin: auto;
    } 
    .owl-seci {
       margin-top: 80px;
    }
    .owl-seci .owl-theme .owl-dots .owl-dot span {
        background-color: #fff!important;
        border: 2px solid #53c5d5;
        width: 15px!important;
        height: 15px!important;
    }  
    .owl-theme .owl-dots .owl-dot.active span {
        background: #53c5d5!important;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 55px!important;
    }
    .owl-theme .owl-dots .owl-dot span {
        margin: 5px 2.5px!important;
    }
    .screan-hover {
        width: auto;
        height: auto;     
        padding: 0;
        position: relative;
        overflow: hidden;
        margin:auto; 
    }  
   .screan-hover .screan-loop-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left:0;
        background: rgba(126, 212, 224, 0.7);
        border: 40px solid rgba(0, 0, 0, 0.85); 
        opacity:0;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    .screan-hover .screan-loop-hover:hover {
      opacity: 1;
    }
    .screan-loop-hover img {
        width: 60px!important;
        height:60px;
        top: 44%;
        left: 37%;
        position: absolute;
    }
    .screan-hover:hover .screan-loop-hover {
        top: 0;
        cursor: pointer;
    }

     
     /*Contact*/
    .contact-bckg {
        background-color: #ecf0f1;
        padding: 160px 0px;
    }
    .contact-title h2{
        font-family: Dosis-bold;
        font-size: 44px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 0;
    }
    .contact-title hr{
        width: 117px;
        height:2px;
        margin: 25px auto;
        background-color: #53c5d5;
    }
    .contact-title p {
        font-family: Dosis Regular;
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 80px;
    }
    .contact-detail h2 {
        font-family: Dosis-bold;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .contact-detail .contct img{
        margin-right: 11px;
        text-align: center;
    }
     .contact-detail .contct i {
        width: 23px;
        margin-right: 11px;
        text-align: center;
        font-size: 24px;
        color:#00c7d8;
        vertical-align: middle;
     }
    .contact-detail .contct {
        line-height: 35px;
    }
    .contact-detail .contct a {
        color: #212529;
    }
    .contact-detail .contct a:hover {
        color: #53c5d5;
        text-decoration: none;
    }
    .form-contact {
        padding-left:30px;
        padding-right: 30px;
    }
    .form-contact h2 {
        font-family: Dosis-bold;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .form-group-edit {
        width: 70%;;
        margin-bottom: 10px;
    }
    .form-contact .form-control {
        padding: 13px 25px;
        border: none;
        transition: border-color 0s ease-in-out,box-shadow 0s ease-in-out;
    }
    .form-contact .form-btn { 
        font-family: Dosis-bold;
        color: #53c5d5;
        background-color: #fff;
        border: 2px solid #53c5d5;
        border-radius: 50px;
        padding: 10px 44px;
        text-transform: uppercase;
        margin-top: 14px;
    }
    .form-contact .form-btn:hover {
        background-color: #53c5d5;
        color: #fff;
        cursor: pointer;
    }
    .form-contact .form-control:focus {
        color: #495057;
        background-color: #fff;
        border: none;
        outline: none;
        box-shadow: inset 0 0 0 2px #53c5d5!important;
    }
    @media (max-width: 992px) {
        .form-contact {
            padding-left:15px;
            padding-right: 15px;
        }
    }
    @media (max-width: 576px) { 
        .form-contact {
            padding: 0px 15px;
        }
        .form-contact .form-group-edit{
            width: 100%;
        }
        .form-contact .form-btn {
            width: 100%;
        }
    }
    /*Footer*/
    .footer {
        background-image: url(../image/footer-bckg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .footer-content {
        padding: 160px 0;
        text-align: center;
        color: #fff;
    }
    .footer-content .social-icons {
        margin-bottom: 45px;      
        display: inline-flex;
    }  
    .footer-content .social-icons i {
        margin:auto;
    }
    .footer-content span{
        display: inline-flex; 
        width: 32px;
        height:32px;
        border: 2px solid #53c5d5; 
        border-radius: 50%;
        margin: 0 4px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .footer-content a:hover{
        text-decoration: none;
        color:#fff;
    }
    .footer-content span:hover{
        background-color: #53c5d5;
        color:#fff;      
        cursor: pointer;
    }
    .footer-content img {
        width: 14px;
        height: 14px;
        margin:auto;
    }
    
    .copyright a:hover {
        color:#53c5d5;
    }
